<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Courses App</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isCourses}}
                <li class="active"><a href="/courses">Courses</a></li>
            {{else}}
                <li><a href="/courses">Courses</a></li>
            {{/if}}

            {{#if isAuth}}
                {{#if isAdd}}
                    <li class="active"><a href="/add">Add course</a></li>
                {{else}}
                    <li><a href="/add">Add course</a></li>
                {{/if}}
                
                {{#if isCard}}
                    <li class="active"><a href="/card">Cart</a></li>
                {{else}}
                    <li><a href="/card">Cart</a></li>
                {{/if}}

                {{#if isOrder}}
                    <li class="active"><a href="/orders">Order</a></li>
                {{else}}
                    <li><a href="/orders">Order</a></li>
                {{/if}}

                <li><a href="/auth/logout">Log out</a></li>
            {{else}}
                {{#if isLogin}}
                    <li class="active"><a href="/auth/login">Log in</a></li>
                {{else}}
                    <li><a href="/auth/login">Log in</a></li>
                {{/if}}
            {{/if}}
        </ul>
    </div>

</nav>
<ul class="sidenav" id="mobile-demo">
    {{#if isCourses}}
        <li class="active"><a href="/courses">Courses</a></li>
    {{else}}
        <li><a href="/courses">Courses</a></li>
    {{/if}}

    {{#if isAuth}}
        {{#if isAdd}}
            <li class="active"><a href="/add">Add course</a></li>
        {{else}}
            <li><a href="/add">Add course</a></li>
        {{/if}}
        
        {{#if isCard}}
            <li class="active"><a href="/card">Cart</a></li>
        {{else}}
            <li><a href="/card">Cart</a></li>
        {{/if}}

        {{#if isOrder}}
            <li class="active"><a href="/orders">Order</a></li>
        {{else}}
            <li><a href="/orders">Order</a></li>
        {{/if}}

        <li><a href="/auth/logout">Log out</a></li>
    {{else}}
        {{#if isLogin}}
            <li class="active"><a href="/auth/login">Log in</a></li>
        {{else}}
            <li><a href="/auth/login">Log in</a></li>
        {{/if}}
    {{/if}}
</ul>